<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/public/images/android-icon-96x96.png">
    <title>ระบบควบคุมฟาร์มไก่</title>
     <!-- เพิ่มเติม-------------------------------- -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
                crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
                crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                 crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style2.css">      
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>  
    <script src="/public/js/script.js"></script>        
</head>
<body>
    
    <div class="wrapper">
      <div class="sidebar" id="mysidebar">
        <h2><%= user %></h2>
        <a class="nav-link " href="/index"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a class="nav-link " href="/index/adduser"><i class="fas fa-user"></i>เพิ่มผู้ใช้งาน</a>
        <a class="nav-link active" href="/index/member"><i class="fas fa-id-badge"></i>ชื่อผู้ใช้งาน</a>
        <a class="nav-link " href="/index/addhouse"><i class="fas fa-home"></i>โรงเรือนในระบบ</a>
        <a class="nav-link " href="/logout" onclick="sessionStorage.clear()"><i class="fas fa-sign-out-alt" ></i>ออกจากระบบ</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunctionTab()"><i class="fa fa-bars"></i> </a>
         
       
      </div>
        
        
        <div class="main_content">
           <div class="container-fluid">
             
            <h2 >ชื่อผู้ใช้งาน</h2>

            <div class="row">
                <div class="col-lg-10 offset-1 col-md-10">
                  <div class="panel-group" >
                      <div class="panel panel-default" >
                         <div class="panel-heading" >ผู้ใช้งานระบบ</div>
    
                            <div class="panel-body" >
                              <table class="table table-hover">
                                <thead >
                                  <th>ลำดับ</th>
                                  <th>ชื่อ</th>
                                  <th>โรงเรือน</th>
                                  <th>จัดการโรงเรือน</th>        
                                 
                                </thead>
                                <tbody>   
                                  
                              
                                  <% data.forEach(function(datauser,index){  %> <!-- sql_namelog -->
                                   
                                  <tr>
                                    <td><%= index+1%></td> 
                                    <td><%= datauser.username %></td>
                                    <td><%= (datauser.name_care_house) ? datauser.name_care_house : "-" %></td>

                                      <!-- ******************************************* -->
                             
                                 

                                
                                    
                                   <!-- ************************************************* --> 
                                    <td>
                                      <!-- <button type="button" class="btn btn-outline-warning ">เพิ่ม</button>
                                      <button type="button" class="btn btn-outline-danger ">ลด</button> -->
                                         <!-- Button trigger modal -->
                                        
                                         <form action="/users/member" method = "post">
                                        <div class="col-md-9"style="text-align: right;">
                                            <button  type="button" class="btn btn-outline-warning homefornt" name = "" id="" data-toggle="modal" data-target="#exampleModal" 
                                              onclick="myFunction('<%= datauser.id %>','1')" value="">ให้สิทธิผู้ใช้งาน</button> 
  
                                              <!-- เก็บค่าไอดีที่กด -->
                                              <input type="hidden" name="getid" id="getid" value="">
                                              <!-- loguser -->
                                              <input type="hidden" name="username" id="username" value="">
                                                  <!-- เก็บ ค่า 1 กับ 2 ที่จะลบ -->
                                                  <input type="hidden" name="in" id="in" value="">
                                                      <!-- เก็บค่า ที่ดูแล test -->
                                                      <input type="hidden" name="check" id="check" value="">
                                              
      <!-- /1                              <input type="text" name="checkbox" id="checkbox"> -->
                                  
                                  
                                            <button type="button" class="btn btn-outline-danger homefornt"  name = "" id="" data-toggle="modal" data-target="#exampleModal1" 
                                              onclick="myFunction('<%= datauser.id %>','2')" value="">ลบผู้ใช้งาน</button>
                                       
  
                                        </div>
                                        
                           <!------------------- Modal โรงเรือน----------------------------------------------------->
                                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                   <!------------------- Modal Header ----------------------------------------------------->
                                                <div class="modal-header">
                                                  <h4 class="modal-title" id="exampleModalLabel">จัดการโรงเรือน </h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                   
                                                </div>
                                <!-------------------- Modal body ---------------------------------------------------------------------->
                                                  <div class="modal-body ">
                                                       
                                                      <h4 class="chooseHome">กรุณาเลือกโรงเรือน</h4> 
                                                           
                                                        <% result_house.forEach(function(option,index1) { %> 
                                                    
                                                          <label class="container">
                                                            <input type="checkbox" name="house[]"  id = "house<%=index1%>"  value="<%= option.id%>" > <%= option.house_quntity%><br>
                                                          
                                                            <span class="checkmark"></span>
                                                          </label>
                                                         
                                                              <%  }) %>
                                                         
                                                        <!-- <input type="text" name="test" id="test" value="<%= datauser.id %>"></a> -->
                                                  </div>
                                                      
                                             <!-- Modal footer -->  
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">ยกเลิก</button>
                                                    <button type="submit" class="btn btn-outline-primary" id="submit_house"> ตกลง</button>
                                                </div>

                                              </div>
                                            </div>
                                          </div>
                                       
  
                                      
              <!-------------------- Modal ลด -------------------------------------------------------------------------------------------------------------------->
                                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              
                 <!----------------------- Modal Header --------------------------------------------------------------------------->
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">ลบผู้ใช้งานออกจากระบบ</h5>
                                               
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                  </button>
                                              </div>
                    <!-------------------- Modal body -------------------------------------------------------------------------->   
                                                  <div class="modal-body">
                                                    <h4 class="chooseHome">คุณต้องการที่จะลบผู้ใช้งานหรือไม่</h4>
                                                  </div>
                  <!---------------------------------------- Modal footer ---------------------------------------->  
                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">ยกเลิก</button>
                                                  <button type="submit" class="btn btn-outline-primary"> ตกลง</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </form>
                                    
                                    </td>
                                  </tr>
  
                                  <% }); %>
                              
  
                                </tbody>
                              </table>
                            
                            </div>
                      </div>
                  </div>
                </div>
              </div>
<!-- ปิด row------------------------------------------------------------------------------------ -->


            </div> 
        </div>
        <script src="/public/axios-0.19.2/dist/axios.min.js"></script>
        <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        
        
        <script>
          var data =[];
    
  
          
          // console.log(window.location.href);
          
          
         function  myFunction(user,de) {
          console.log(document.URL);
          var stringValue = document.URL;
          var res = stringValue.substr(7);
          var res1 = res.split(":");
          console.log(res1[0]);

       
        
        
             var pro1 = axios.post('http://'+res1[0]+':3000/detailuser/getuserById', {
          id: user
        }).then(result=>{
            console.log(result);
            
           
       /* ส่ง id */
        document.getElementById('getid').value = result.data.care[0].id;
       /* เช็คลบเพิ่ม */
        document.getElementById('in').value = de;
       
          var acc_care = result.data.care; //house
          // console.log(acc_care[0].name_care_house_id);
          
          var house_sys = result.data.house // id

    ///////// test ดูแลโรงเรือน ///////////////
        for(var j = 0; j< acc_care.length ; j++ ){
          for(var q = 0; q < house_sys.length ; q++ ){//house_quntity
            // document.getElementById('check').value = datacare;        
           /*  console.log('care',acc_care[j].house); */
           console.log('house',house_sys[q].id);
           
            console.log('house',house_sys[j].id);
            if(acc_care[j].house == house_sys[q].id){
              document.getElementById("house"+[q]).checked = true ;
              
            }
         
           }
        
          
        }


        })
      }
            
            
            $(document).ready(function(){
              $("form").submit(function(){
                let chk = $("input:checkbox:checked").length;
                $("#check").val(chk);
              })
            })
   
            

     
        </script>
     

    </div>
</body>
</html>